PRODUCTION=true
GITHUB_AUTH=ghp_Gb********************
NEXT_PUBLIC_GTM_ID=GTM-******
GITHUB_SSO_URL=https://auth.api.dev.zesty.io/github/login
GOOGLE_SSO_URL=https://auth.api.dev.zesty.io/google/login
MS_SSO_URL=https://auth.api.dev.zesty.io/azure/login
TEMPLATE_URL=https://templating.api.zesty.io/
