.hello, .still, .bouncing, .rollIn, .rollOut, .dancingLogo, .jiggle{
    width: 150px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(0deg);
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    position: absolute;
    left: 45%;
    top: 25px;
}

.hello {
    transform: rotate(90deg);
}
.still {
    animation: none;
}
.dancingLogo {
    width: 100px;
}
.bouncing {
    animation-name: bounce; 
}
.rollIn {
    animation: rollIn 2000ms ease-out, spin 1500ms;
    
}
.rollOut {
    animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
}

.jiggle {
    animation-name: jiggle;

}

@keyframes jiggle {
    /* start at 0deg and this scale size.
       scale size is repeated here to maintain smooth scaling */
    0% {transform: rotate(0deg) scale(1.15,1.15);}
    /* midway rotate 2deg right */
    50% {transform: rotate(2deg) scale(1.15,1.15);}
    /* end rotate -2deg left */
    100% {transform: rotate(-2deg) scale(1.15,1.15)}
  }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 

 @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100%; }
  }

  @keyframes rollIn {
    0%   { left: -100px; }
    100% { left: 45%; }
  }